# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;database=orp;userid=root;"

#required
start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
#start scoreboard

#maps
start ORPTextures

#scripts
start ghmattimysql
start vrp_mysql
start vrp
start vrp_basic_menu
start vrp_hotkeys
start online
start ORPScripts

start ORPSounds

#Keep this here, it stops some errors
restart sessionmanager

sv_scriptHookAllowed 0

# change this and remove the # before rcon_password if you are using rcon, if not, leave this as is
#rcon_password ChangeMe

sv_hostname "Oasis RP | Development server"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.god command allow # allow all commands
add_ace group.god command.quit deny # but don't allow quit
add_principal identifier.steam:110000134fbfb20 group.god #╰‿
add_principal identifier.steam:11000010bd36d08 group.god #Xonaa
add_principal identifier.steam:1100001169c5e34 group.god #Qwebbase
add_principal identifier.steam:11000013e7b452f group.god #BigRIP

# hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (default to 30)
sv_maxclients 32

# Get a key from https://keymaster.fivem.net
sv_licensekey "zaywzzgk3t7wsanagturm8zyghe498xx"
